* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}

section {
  padding: 60px;
}

/* Header Styles */
header {
  display: flex;
  padding: 20px 35px;
  background-color: #39a6b2;
  justify-content: space-between;
  flex-wrap: wrap;
}
header h1 {
  margin: 0;
  font-size: 36px;
  color: #fce138;
  font-weight: bold;
}
header a {
  color: #fce138;
  text-decoration: none;
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  margin: 0 30px;
  font-size: 1.55vw;
  font-weight: lighter;
}

/* General Styles */
.section-title {
  font-size: 55px;
  color: #024e76;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}
.primary-border {
  border-color: #fce138;
}
.secondary-border {
  border-color: #39a6b2;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.flex-row {
  display: flex;
}

/* Hero Section/Form Styles */
.hero {
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-image: url("../images/hero-bg.jpeg");
}
.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
}
.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
}
.hero-form {
  width: 40%;
  margin: 3.5%;
  padding: 20px;
  opacity: 0.8;
  border-radius: 5%;
  color: #024e76;
  background-color: #fce138;
  border: solid 3px #024e76;
}
.hero-form h3 {
  margin: 0;
  font-size: 24px;
}
.hero-form p {
  margin: 5px 0 15px 0;
}
.form-input {
  width: 100%;
  display: block;
  font-size: 16px;
  color: #024e76;
  padding: 7px 15px;
  margin-bottom: 15px;
  border: 1px solid #024e76;
}
.hero-form label {
  margin: 0 5px;
}
.hero-form button {
  border: none;
  font-size: 16px;
  color: #fce138;
  padding: 10px 20px;
  background-color: #024e76;
}

/* Intro/What We Do Styles */
.intro p {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.7;
  color: #39a6b2;
  text-align: center;
}

/* What You Do Styles */
.steps {
  background: #fce138;
}
.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.step h3 {
  flex: 1 30%;
  font-size: 46px;
  color: #024e76;
}
.step-info {
  flex: 2 70%;
}
.step-text p {
  font-size: 18px;
  color: #39a6b2;
}
.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: #024e76;
}

/* Meet The Trainers Styles */
.trainer {
  width: 900px;
  overflow: auto;
  color: #fce138;
  background: #024e76;
  margin: 0 auto 30px auto;
}
.trainer img {
  width: 35%;
  float: left;
}
.trainer-bio {
  width: 65%;
  float: left;
  padding: 35px;
}
.trainer-bio h3 {
  font-size: 32px;
  margin-bottom: 8px;
}
.trainer-bio h4 {
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: lighter;
}
.trainer-bio p {
  font-size: 17px;
  line-height: 1.3;
}

/* Reach Out Styles */
.contact {
  background: #024e76;
}
.contact h2 {
  color: #fce138;
}
.contact-info iframe {
  width: 400px;
  height: 400px;
}
.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: white;
}
.contact-info h3 {
  color: #fce138;
  font-size: 32px;
  padding-top: 30px;
}
.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}
.contact-info a {
  color: #fce138;
}

/* Footer Styles */
footer {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 35px;
  background: #fce138;
}
footer h2 {
  margin: 0;
  font-size: 30px;
  color: #024e76;
}
footer div {
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: #024e76;
}
